<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }

        .layui-form-select dl {
            z-index: 99999;
        }

        .layui-disabled, .layui-disabled:hover {
            color: #000000 !important;
            cursor: text !important;
        }
    </style>
</head>
<body>

<div class="layui-form layuimini-form" lay-filter="formId">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">建议内容</label>
        <div class="layui-input-block">
            <textarea name="comment" readonly class="layui-textarea" placeholder=""></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">提交时间</label>
        <div class="layui-input-block">
            <input type="text" name="createdAt" readonly class="layui-input" placeholder="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label ">类型</label>
        <div class="layui-input-block ">
            <select name="category" disabled lay-filter="category">
                <option value=""></option>
                <option value="1">微心愿</option>
                <option value="2">群众意见</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <input type="hidden" name="id">
        <label class="layui-form-label ">状态</label>
        <div class="layui-input-block ">
            <select name="status" disabled lay-filter="status">
                <option value=""></option>
                <option value="1">待认领</option>
                <option value="2">认领中</option>
                <option value="3">已实现</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">填写进度</label>
        <div class="layui-input-block">
            <textarea name="progress" lay-verify="required" class="layui-textarea" placeholder=""></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>

</div>

<script src="../../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../..//js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate','util'], function () {
        let form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            $ = layui.$;
        //日期
        laydate.render({
            elem: '#bussiness_time'
        });


        //
        let editData = JSON.parse(JSON.stringify(parent.window.interactionEditData));

        console.log(editData)
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            layer.confirm('确认提交？', {btn: ['确定', '取消'], title: "提示"}, function (index) {
                $.ajax({
                    type: "post",
                    url: '/interaction/edit',
                    data: data.field,
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg('操作成功', {icon: 1, time: 1000}, function () {
                                parent.layer.closeAll();
                            });
                            parent.layui.table.reload('currentTableId');

                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    }
                });
            });
            return false;
        });

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        editData.createdAt = layui.util.toDateString(editData.createdAt, 'yyyy年MM月dd日 HH:mm:ss')
        form.val('formId', editData);


    });
</script>
</body>
</html>