<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <style type="text/css">
        /*.layui-table-cell {*/
        /*    height: auto;*/
        /*    line-height: 10px;*/
        /*    font-size: 12px;*/
        /*    padding: 0 0px;*/
        /*    overflow: visible;*/
        /*    text-overflow: inherit;*/
        /*    white-space: normal;*/
        /*}*/
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">


        <div class="layui-collapse" lay-filter="test">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">搜索栏</h2>
                <div class="layui-colla-content">
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="text" name="comment" placeholder="内容" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                    <div class="layui-input-inline">
                                        <select name="category" lay-filter="category">
                                            <option value="">类型</option>
                                            <option value="1">微心愿</option>
                                            <option value="2">群众意见</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <select name="status" lay-filter="status">
                                            <option value="">状态</option>
                                            <option value="1">待认领</option>
                                            <option value="2">认领中</option>
                                            <option value="2">已实现</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <select name="confirmed" lay-filter="confirmed">
                                            <option value="">是否已确认</option>
                                            <option value="1">已确认</option>
                                            <option value="0">未确认</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                            lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <!--                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add">新增</button>-->
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 多选删除
                </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="confirm">审核</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="progress">处理进度</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="delete">删除</a>
        </script>
    </div>
</div>
<script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['element', 'form', 'table', 'laydate'], function () {
        let $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table;
        //日期
        laydate.render({
            elem: '#begin_bussiness_time'
        });
        laydate.render({
            elem: '#end_bussiness_time'
        });
        table.render({
            elem: '#currentTableId',
            url: '/interaction/interactionList',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 50, title: 'ID', sort: true},
                {field: 'comment', title: '内容', sort: true},
                {field: 'progress', title: '处理进度', sort: true},
                {
                    field: 'category', title: '类型', sort: true, templet: function (d) {
                        if (d.category == 1) {
                            return "微心愿";
                        } else if (d.category == 2) {
                            return "群众意见";
                        }
                    }
                },
                {
                    field: 'status', title: '状态', sort: true, templet: function (d) {
                        if (d.status == 1) {
                            return "待认领";
                        } else if (d.status == 2) {
                            return "认领中";
                        } else if (d.status == 3) {
                            return "已实现";
                        }
                    }
                },
                {
                    field: 'confirmed', title: '审核情况', sort: true, templet: function (d) {
                        if (d.confirmed == 0) {
                            return "未确认";
                        } else if (d.confirmed == 1) {
                            return "审核通过";
                        } else if (d.confirmed == 2) {
                            return "审核不通过";
                        }
                    }
                },
                {
                    field: 'createDate',
                    width: 160,
                    title: '创建时间',
                    templet: "<div>{{layui.util.toDateString(d.createdAt, 'yyyy年MM月dd日 HH:mm:ss')}}</div>"
                },
                {field: 'memo', title: '备注', minWidth: 150,},
                {title: '操作', minWidth: 200, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 20, 50, 100],
            limit: 10,
            page: true,
            // skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let result = JSON.stringify(data.field);
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                let index = layer.open({
                    title: '添加',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/interaction/add',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                let checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                let ids = [];

                if (data.length < 1) {
                    layer.msg("请勾选至少一行！");
                    return false;
                }
                data.forEach((row) => {
                    ids.push(row.id);
                })
                layer.confirm('确认删除？', function (index) {
                    $.ajax({
                        type: "post",
                        url: '/interaction/delete',
                        dataType: "json",
                        data: {
                            id: ids.toString(),
                        },
                        async: true,
                        success: function (data) {
                            if (data.code === 0) {
                                layer.msg('删除成功', {icon: 1, time: 1000});
                            } else {
                                layer.msg(data.msg, {icon: 2});
                            }
                        }
                    });
                    table.reload('currentTableId');
                    layer.close(index);
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            window.interactionEditData = obj.data;

            //行编辑处理
            if (obj.event === 'confirm') {
                let confirmed
                layer.confirm('请选择是否通过审核', {
                    btn: ['通过', '不通过', '取消'],
                    btn1: function () {
                        confirmed = 1
                        $.post("/interaction/confirm", {id: obj.data.id, confirmed: confirmed}, function (res) {
                            if (res.code === 0) {
                                layer.msg("处理成功", {icon: 1})
                                table.reload('currentTableId');
                            } else {
                                layer.msg("处理失败", {icon: 2});
                            }
                            return;
                        });
                    },
                    btn2: function () {
                        confirmed = 2
                        $.post("/interaction/confirm", {id: obj.data.id, confirmed: confirmed}, function (res) {
                            if (res.code === 0) {
                                layer.msg("处理成功", {icon: 1});
                                table.reload('currentTableId');
                            } else {
                                layer.msg("处理失败", {icon: 2});
                            }
                            return;
                        });
                    },
                    btn3: function () {
                        return;
                    }
                });

                return false;
                //删除处理
            } else if (obj.event === 'progress') {
                let index = layer.open({
                    title: '编辑进度',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/interaction/edit',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });

            } else if (obj.event === 'delete') {
                console.log(obj.data);
                layer.confirm('确认删除？', function (index) {
                    $.ajax({
                        type: "post",
                        url: '/interaction/delete',
                        dataType: "json",
                        data: {
                            id: obj.data.id
                        },
                        async: true,
                        success: function (data) {
                            if (data.code === 0) {
                                layer.msg('删除成功', {icon: 1, time: 1000});
                                //parent.layui.table.reload('currentTableId');

                            } else {
                                layer.msg(data.msg, {icon: 2});
                            }
                        }
                    });
                    obj.del();

                    layer.close(index);
                });
            }
        });
    });

</script>

</body>
</html>