<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">渠道编号</label>
        <div class="layui-input-block">
            <input type="text" name="channel_no" lay-verify="required" lay-reqtext="渠道编号不能为空" placeholder="请输入渠道编号"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">单位</label>
        <div class="layui-input-block">
            <input type="text" name="unit" lay-verify="required" lay-reqtext="单位不能为空" placeholder="请输入单位" value=""
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">业务分类</label>
        <div class="layui-input-block">
            <input type="email" name="bussiness_type" placeholder="请输入业务分类" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">交费方式</label>
        <div class="layui-input-block">
            <select name="cash_type" lay-filter="cash_type" lay-verify="required">
                <option value=""></option>
                <option value="现金">现金</option>
                <option value="银行划扣">银行划扣</option>
                <option value="POS（非自动）">POS（非自动）</option>
                <option value="转账缴费">转账缴费</option>
                <option value="微信">微信</option>
                <option value="支付宝">支付宝</option>
                <option value="CMIOT信用卡">CMIOT信用卡</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否CMIOT</label>
        <div class="layui-input-block">
            <input type="radio" name="is_cmiot" value="是" title="是">
            <input type="radio" name="is_cmiot" value="否" title="否" checked="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">收入</label>
        <div class="layui-input-block">
            <input type="number" name="income" lay-verify="required" placeholder="请输入收入" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">业务发生时间</label>
        <div class="layui-input-inline">
            <input type="text" name="bussiness_time" id="bussiness_time" lay-verify="required" placeholder="yyyy-MM-dd"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="memo" class="layui-textarea" placeholder="请输入备注信息"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            $ = layui.$;
        //日期
        laydate.render({
            elem: '#bussiness_time'
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            layer.confirm('确认提交？', {btn: ['确定', '取消'], title: "提示"}, function (index) {
                $.ajax({
                    type: "post",
                    url: '/feiyonghuizong/add',
                    data: data.field,
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg('操作成功', {icon: 1,time:1000},function (){
                                parent.layer.closeAll();
                            });
                            parent.layui.table.reload('currentTableId');

                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    }
                });
            });
            return false;
        });

    });
</script>
</body>
</html>